/* Base styling apply to elements across your site*/

body {
  background-color: black;
  height: 100vh;
  display: grid;
  grid-template:
    "left header" 80px
    "left main" 1fr
    "footer footer" 80px /
    1fr 5fr;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

:root {
  --hover: #1db954;
  --grey: #999999;
}

/* Utility classes - shared behaviour across elements  */

.images {
  width: 150px;
  margin-left: 10px;
}

.images:hover {
  box-shadow: 2px 2px #ffffff49;
  cursor: pointer;
}

.images-copy {
  color: white;
  font-size: 0.6rem;
  max-width: 150px;
}

.small-images-copy {
  color: var(--grey);
  font-size: 0.65rem;
  max-width: 150px;
}

p {
  font-size: 0.8rem;
  color: var(--grey);
}

p:hover {
  color: var(--hover);
  cursor: pointer;
}

li {
  font-size: 0.8rem;
  color: var(--grey);
}

li:hover {
  border-bottom: 1px solid var(--hover);
  color: var(--hover);
  cursor: pointer;
}

h2 {
  font-size: 1.1rem;
  color: #ebecec;
}

.icons {
  width: 23px;
}

ul {
  list-style: none;
}

.images-copy {
  margin-left: 10px;
}

/* Specific section styling */

/* LEFT SECTION TOP STYLING */

.left {
  grid-area: left;
  background-color: black;
  margin-left: 15px;
}

.main-logo {
  width: 130px;
  margin-top: 20px;
}

.home-nav {
  display: grid;
  grid-template-rows: auto;
  /* gap: 15px; */
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-nav-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 15px;
}

.home-nav-grid .icons {
  place-items: center;
}

.home-nav-grid p {
  align-self: center;
}

/* PLAYLIST STYLING */

.make-playlist {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 20px;
}

.make-playlist p {
  align-self: center;
  margin-left: 11px;
}

.playlist h2 {
  align-self: center;
  margin-bottom: 20px;
}

.cross {
  width: 30px;
}

.playlist {
  background-color: rgb(0, 0, 0);
  margin-top: 30px;
}

.list-playlist {
  height: 185px;
  line-height: 2;
  overflow-y: scroll;
}

.list-playlist::-webkit-scrollbar {
  display: none;
}

/* LEFT SECTION USER STYLING */

.install-user {
  background-color: rgb(0, 0, 0);
  margin-top: 15px;
}

.name {
  color: #ebecec;
}

.smallicons {
  width: 15px;
}

.smallicons2 {
  width: 20px;
}

.installapp {
  font-size: 0.7rem;
  color: #999999;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
  line-height: 2;
}

/* HEADER STYLING */

.header {
  grid-area: header;
  background-color: rgba(0, 0, 0, 0.377);
}

.upgrade {
  display: grid;
}

.head-menu {
  text-align: center;
  /* margin-top: 5px; */
  line-height: 2;
}

.head-menu-items {
  display: inline-block;
  margin-inline: 20px;
}
.button-upgraded {
  width: 90px;
  justify-self: right;
  border-radius: 20px;
  padding: 7px;
  border: 2px solid white;
  background-color: black;
  color: white;
  margin-top: 10px;
  margin-right: 20px;
}

.button-upgraded:hover {
  border: 2px solid var(--hover);
  color: var(--hover);
}

/* MAIN STYLING */

.main {
  grid-area: main;
  background-color: rgb(0, 0, 0);
  margin-left: 15px;
  overflow: scroll;
}

.main::-webkit-scrollbar {
  display: none;
}

.recent-grid-cont {
  display: grid;
  grid-auto-flow: column;
}

.recent h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.created-grid-cont {
  display: grid;
  grid-auto-flow: column;
}

.created-for h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.created-images {
}

.pop-artist-grid {
  display: grid;
  grid-auto-flow: column;
}

.popular {
  margin-bottom: 20px;
}

.popular-images {
  border-radius: 50%;
}

.images-copy-pop {
  text-align: center;
}

.popular h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* .recent-images {
  position: relative;
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
}

.play-button {
  width: 50px;
} */

/* FOOTER STYLING */

.footer {
  grid-area: footer;
  background-color: rgb(0, 0, 0);
}

.footer-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #282828;
}

.left-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  grid-gap: 10px;
}

.album {
  width: 50px;
  margin-left: 15px;
  margin-top: 15px;
}

.album-info {
  align-self: center;
  font-size: 0.7rem;
}

.track-info {
  align-self: center;
  font-size: 0.6rem;
}

.track-info {
  color: #ebecec;
}

.player {
  display: grid;
  justify-content: center;
}

.footer-icons {
  width: 15px;
  align-self: center;
}
.footer-icons2 {
  width: 150px;
  align-self: center;
  margin-right: 15px;
}

.right-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: right;
  grid-gap: 10px;
}

/* media quiries */

@media screen and (max-width: 375px) {
  .recent-grid-cont {
    grid-auto-flow: row;
  }
  .created-grid-cont {
    grid-auto-flow: row;
  }
  .pop-artist-grid {
    grid-auto-flow: row;
  }

  .footer {
    display: none;
  }
  .list-playlist {
    height: 367px;
  }
}
