/* Base styling apply to elements across your site*/

body {
  background-color: black;
  height: 100vh;
  display: grid;
  grid-template:
    "left header" 80px
    "left main" 1fr
    "footer footer" 80px /
    1fr 5fr;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

:root {
  --hover: #1db954;
  --grey: #999999;
}

/* Utility classes - shared behaviour across elements  */

.images {
  width: 150px;
}

.images:hover {
  box-shadow: 1px 1px 5px var(--hover);
}

p {
  font-size: 0.8rem;
  color: var(--grey);
}

p:hover {
  color: var(--hover);
}

li {
  font-size: 0.8rem;
  color: var(--grey);
}

li:hover {
  font-size: 0.8rem;
  color: var(--hover);
}

h2 {
  font-size: 1.1rem;
  color: #ebecec;
}

.icons {
  width: 23px;
}

ul {
  list-style: none;
}

/* Specific section styling */

/* LEFT SECTION TOP STYLING */

.left {
  grid-area: left;
  background-color: black;
  margin-left: 15px;
}

.main-logo {
  width: 130px;
  margin-top: 10px;
}

.home-nav {
  display: grid;
  grid-template-rows: auto;
  /* gap: 15px; */
  margin-top: 30px;
  margin-bottom: 20px;
}

.home-nav-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 15px;
}

.home-nav-grid .icons {
  place-items: center;
}

.home-nav-grid p {
  align-self: center;
}

/* PLAYLIST STYLING */

.make-playlist {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 20px;
}

.make-playlist p {
  align-self: center;
  margin-left: 11px;
}

.playlist h2 {
  align-self: center;
  margin-bottom: 20px;
}

.cross {
  width: 30px;
}

.playlist {
  background-color: rgb(0, 0, 0);
  margin-top: 30px;
}

.list-playlist {
  height: 200px;
  line-height: 2;
  overflow-y: scroll;
}

.list-playlist::-webkit-scrollbar {
  display: none;
}

/* LEFT SECTION USER STYLING */

.install-user {
  background-color: rgb(0, 0, 0);
  margin-top: 15px;
}

.name {
  color: #ebecec;
}

.smallicons {
  width: 15px;
}

.smallicons2 {
  width: 20px;
}

.installapp {
  font-size: 0.7rem;
  color: #999999;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
  line-height: 2;
}

/* HEADER STYLING */

.header {
  grid-area: header;
  background-color: rgb(0, 0, 0);
}

.upgrade {
  display: grid;
}

.head-menu {
  text-align: center;
  /* margin-top: 5px; */
  line-height: 2;
}

.head-menu-items {
  display: inline-block;
  margin-inline: 20px;
}
.button-upgraded {
  width: 90px;
  justify-self: right;
  border-radius: 20px;
  padding: 7px;
  border: 2px solid white;
  background-color: black;
  color: white;
  margin-top: 10px;
  margin-right: 20px;
}

.button-upgraded:hover {
  border: 2px solid var(--hover);
  color: var(--hover);
}

/* MAIN STYLING */

.main {
  grid-area: main;
  background-color: rgb(0, 0, 0);
  margin-left: 15px;
}

.recent {
  /* make grid */
}

.recent-images {
}

.created-for {
  /* make grid */
}

.created-images {
}

.popular {
  /* make grid */
}

.popular-images {
  border-radius: 50%;
}

/* FOOTER STYLING */

/* make grid 3 columns */

.footer {
  grid-area: footer;
  background-color: rgb(0, 0, 0);
}

.footer-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.left-footer {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.album {
  width: 70px;
  margin-left: 15px;
}

.album-info {
  align-self: center;
}

.track-info {
  align-self: center;
  font-size: 0.6rem;
}

.track-info {
  color: #ebecec;
}

.footer-icons {
  width: 15px;
  align-self: center;
}
.footer-icons2 {
  width: 150px;
  align-self: center;
}

.right-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 4fr;
}
